{% extends 'base.html' %}

{% block content %}

<h1>BDE IP Paris - Registration successful!</h1>

<p>You shall get contacted soon by e-mail for further information on the payment of your membership fee.</p>

{% endblock %}
