{% extends 'base.html' %}

{% block content %}

<h1 id="règlement-intérieur-du-bureau-des-elèves-de-linstitut-polytechnique-de-paris">Règlement Intérieur du Bureau des Elèves de l’Institut Polytechnique de Paris</h1>
<p>Vu l’article 16 des statuts de l’association sur la capacité du CA à fixer le règlement intérieur et aux dispositions qu’il peut prendre. Vu les articles 6, 10, 12, 13 et 14. Le Conseil d’Administration arrête le règlement intérieur par les articles suivants.</p>
<h2 id="titre-i---du-fonctionnement-de-lassociation">Titre I - Du fonctionnement de l’association</h2>
<h3 id="chapitre-1---des-assemblées-générales">Chapitre 1 - Des Assemblées Générales</h3>
<h4 id="article-1">Article 1</h4>
<p>Les convocations des Assemblées Générales doivent préciser :</p>
<ul>
<li>La date, l’heure et le lieu de la réunion de l’assemblée.</li>
<li>L’ordre du jour de l’assemblée.</li>
<li>La liste des membres convoqués.</li>
<li>Toute autre indication nécessaire pour rejoindre l’assemblée.</li>
</ul>
<h4 id="article-2">Article 2</h4>
<p>Les questions portées à l’ordre du jour selon l’alinéa 3 de l’article 10 des statuts doivent être transmises au secrétaire par lettre signée et remise soit en main propre, soit par lettre recommandée.</p>
<p>Le secrétaire est chargé de transmettre la convocation amendée du nouvel ordre du jour 48h avant la tenue de l’assemblée.</p>
<h4 id="article-3">Article 3</h4>
<p>Les votes des Assemblées Générales se font à main levée. L’ordre d’appel des suffrages est : Contre, Abstention, Pour.</p>
<h4 id="article-4">Article 4</h4>
<p>En cas d’absence du président, le vice-président agit comme président de séance. S’il est lui aussi absent, un président de séance est désigné par les membres présents du conseil d’administration.</p>
<h4 id="article-5">Article 5</h4>
<p>Le compte rendu de l’assemblée est rédigé par le secrétaire de séance.</p>
<p>Le compte rendu précise les motions votées, le nombre de voix exprimées pour chaque scrutin, le résultat des scrutins et le résultats des élections.</p>
<p>Le secrétaire de séance est le secrétaire de l’association ou, en son absence, le secrétaire adjoint. Si aucun d’eux n’est présent, le président de séance désigne le secrétaire de séance.</p>
<h4 id="article-6">Article 6</h4>
<p>Préalablement à l’Assemblée Générale ayant à l’ordre du jour le renouvellement des membres du Conseil d’Administration et du bureau, les membres candidats à l’élection au bureau et au Conseil d’Administration envoient leurs candidatures sous forme de listes ordonnées au secrétaire de l’association au moins 7 jours avant la tenue de l’assemblée.</p>
<p>Cette liste, ayant un minimum de 5 candidats et un maximum de 20 candidats précise les personnes candidatant pour les postes du bureau. Ces candidats doivent être au sommet de la liste. Une liste ne peut contenir seulement des candidats au bureau.</p>
<p>Lors de l’assemblée renouvelant le Conseil d’Administration et le bureau, les membres de l’assemblée votent pour une et une seule liste parmis les listes candidates. Le vote blanc n’est pas compté.</p>
<p>Le vote se fait à bulletin secret, dans une urne physique ou de manière numérique, le Conseil d’Administration précisant la modalité dans la convocation.</p>
<p>À l’issue des votes, la nouvelle composition du bureau et du Conseil d’Administration est déterminée selon la procédure suivante. La liste ayant reçu le plus de voix fixe la composition du bureau aux postes indiqués par la liste, ainsi que le nombre de membres ordinaires élus au CA. La nomination du restant des membres ordinaires du CA suit la règle de proportionnalité suivante. Soit k le nombre de places restantes au CA après attribution des places du bureau. Soient l_n la n-ième liste ayant reçu le plus de voix, et r_n le rapport entre le nombre de voix reçues par la liste l_n et le nombre total de voix exprimées. Au CA, chaque liste l_n reçoit k*r_n sièges arrondi à l’inférieur, jusqu’à épuisement de la liste l_n. Le cas échéant, le restant des sièges est affecté à la liste l_1.</p>
<h4 id="article-7">Article 7</h4>
<p>Si aucune liste n’est candidate, les mandats du CA et du bureau sont prorogés de 3 mois. Au terme de la deuxième prorogation, si aucune liste ne s’est portée candidate, le CA est chargé de convoquer l’AG Extraordinaire pour la dissolution de l’association.</p>
<h4 id="article-8">Article 8</h4>
<p>Dans l’impossibilité de convoquer l’AG en présentiel, le CA est chargé d’indiquer les modalités de réunions de l’AG en distanciel ou de manière hybride.</p>
<h4 id="article-9">Article 9</h4>
<p>Les membres ne pouvant pas être présents à l’assemblée peuvent nommer un représentant. Le membre en question doit en informer le secrétaire par lettre signée et remise en main propre ou par lettre recommandée. Lors de l’appel des voix, le président, informé par les soins du secrétaire, demande aux représentants les suffrages des membres représentés à l’oral.</p>
<h4 id="article-10">Article 10</h4>
<p>La convocation de l’AG sur demande du quart des membres d’après le 2ème alinéa de l’article 10 des statuts est effectuée par le secrétaire à la réception de la demande par lettre signée remise en main propre ou par lettre recommandée.</p>
<h3 id="chapitre-2---du-conseil-dadministration">Chapitre 2 - Du Conseil d’Administration</h3>
<h4 id="article-11">Article 11</h4>
<p>Le président convoque le CA au moins 48h avant la tenue du conseil sur un ordre du jour indiqué sur la convocation.</p>
<h4 id="article-12">Article 12</h4>
<p>La convocation du CA sur demande du quart de ses membres est faite par un membre de bureau lors de la réception par celui-ci de la demande contresignée de tous les membres demandeurs. La demande de convocation fait figurer l’ordre du jour.</p>
<p>Le membre du bureau recevant la demande dispose d’un délai d’une semaine pour convoquer le CA. Le CA ainsi convoqué doit se tenir dans la semaine suivant la convocation, mais au moins 48h après l’envoi de la convocation.</p>
<h4 id="article-13">Article 13</h4>
<p>Toute convocation du CA indique : - la date et l’heure de la tenue du conseil ; - l’ordre du jour ; - la liste des membres attendus ; - toute indication nécessaire pour rejoindre le conseil.</p>
<h4 id="article-14">Article 14</h4>
<p>Un compte rendu de séance est rédigé par le secrétaire de séance. Ce compte rendu fait part des motions soumises aux votes et du résultat des suffrages. Le compte rendu de séance est approuvé à la séance suivante. Les comptes rendus de séance sont mis à la disposition des membres dès leur approbation.</p>
<p>Une feuille de présence est établie à l’ouverture de la séance. Elle rappelle la qualité des membres qui participent au conseil.</p>
<h4 id="article-15">Article 15</h4>
<p>Le CA vote à main levée. Le président de séance soumet les motions au vote du conseil. Tout membre du conseil peut demander au président de séance de soumettre une motion au vote. Seules les motions liées aux points mentionnés dans l’ordre du jour peuvent être soumises à l’approbation du CA.</p>
<p>Le CA vote en premier lieu sur l’adoption ou la modification de l’ordre du jour.</p>
<h4 id="article-16">Article 16</h4>
<p>Le président de séance est le président ou, en son absence, le vice-président. Si ni le président, ni le vice-président ne sont présents, le conseil désigne un président de séance.</p>
<p>Le secrétaire de séance est le secrétaire ou, en son absence, le secrétaire adjoint. Si ni le secrétaire, ni le secrétaire adjoint ne sont présents, le conseil désigne un secrétaire de séance.</p>
<h4 id="article-17">Article 17</h4>
<p>Lors de l’appel des voix, seuls les membres ordinaires sont appelés à s’exprimer. En cas de partage, un nouvel appel des voix est effectué où seuls les membres invités s’expriment.</p>
<h3 id="chapitre-3---du-bureau">Chapitre 3 - Du Bureau</h3>
<h4 id="article-18">Article 18</h4>
<p>Le président de l’association est le représentant légal de l’association. Il dispose d’un droit de regard sur toutes les activités de l’association. Il veille à la bonne marche des institutions de l’association. Il est chargé de l’application des décisions du CA. Il veille à ce que toutes les activités de l’association soient conformes aux volontés du CA.</p>
<p>Il représente l’association et parle en son nom lors des dialogues avec d’autres entités, tant qu’il n’engage pas l’association sur une obligation contractuelle à moins qu’il obtienne préalablement l’aval du CA.</p>
<h4 id="article-19">Article 19</h4>
<p>Le président de l’association est mandaté par l’association pour tous les actes administratifs relevant des décisions prises par le conseil d’administration.</p>
<p>Il peut prendre des décisions sur toutes les matières tant qu’elles n’engageant pas l’association envers une tierce personne, physique ou morale, ou envers la loi.</p>
<p>Il effectue les démarches engageant l’association sur décision du CA.</p>
<h4 id="article-20">Article 20</h4>
<p>Le vice-président peut remplacer le président dans ses pouvoirs et responsabilités sur notification par le président. La notification fait part de la période pendant laquelle le vice-président remplace le président.</p>
<p>En dehors du remplacement du président, le vice-président peut s’exprimer au nom de l’association, sans pouvoir prendre d’engagements en son nom. Il informe alors le président du contenu des discussions.</p>
<h4 id="article-21">Article 21</h4>
<p>Le trésorier effectue la comptabilité courante de l’association avec la collaboration éventuelle du trésorier adjoint. Il informe le CA de l’état des comptes de l’association lorsque cela lui est demandé.</p>
<p>Le trésorier adjoint informe le trésorier de toute action comptable qu’il réalise.</p>
<h4 id="article-22">Article 22</h4>
<p>Lorsque le CA demande un chiffrage, sauf mention contraire dans la motion adoptée en CA, le trésorier et le trésorier adjoint sont chargés de le réaliser. Ils fournissent alors au CA un ou plusieurs devis sauf en cas d’impossibilité ou lorsque les montants concernés sont inférieurs à 500€.</p>
<h4 id="article-23">Article 23</h4>
<p>Le secrétaire de l’association, avec l’éventuel secrétaire adjoint, est chargé de la tenue des archives de l’association et de fournir aux instances de l’association et à ses membres les documents internes de l’association lorsque nécessaire.</p>
<p>Il peut être chargé par le CA de rédiger des amendements au présent règlement intérieur.</p>
<p>Il est chargé de la conformité du fonctionnement de l’association à ses statuts et à son règlement intérieur. Lorsqu’il juge une action contraire aux dispositions règlementaires et statutaires, il en informe le CA qui délibère alors sur la question.</p>
<p>Il est chargé, conjointement avec le trésorier, de tenir la liste des membres de l’association et de leur qualité.</p>
<h3 id="chapitre-4---du-comité-international">Chapitre 4 - Du Comité International</h3>
<h4 id="article-24">Article 24</h4>
<p>Le CA décide en une seule motion, un mois avant la fin du mandat du CI, de publier un calendrier électoral fixant la date de début des candidatures au CI, la date de fin des candidatures et la date de publication de la convocation à l’élection. La période de candidature dure au moins une semaine.</p>
<p>La convocation à l’élection fait figurer les candidatures, la date, heure et lieu de tenue de l’élection, les membres en capacité de voter et toute autre information nécessaire à l’expression des suffrages.</p>
<p>Les candidats se présentent sous forme de liste d’au moins 3 membres qu’ils addressent au secrétaire dans la période de candidature.</p>
<p>La convocation est envoyée par les soins du secrétaire ou de son adjoint aux membres concernés à la date donnée par le calendrier électoral.</p>
<p>La liste ayant obtenu le plus de voix est élue au CI.</p>
<h4 id="article-25">Article 25</h4>
<p>Le président de l’association est chargé de convoquer le CI dans le mois suivant son élection pour sa première séance dont un point à l’ordre du jour sera l’élection du président du CI.</p>
<p>Lors de cette séance du CI, après l’appel des candidatures, si plus d’un candidat se présente, un scrutin est effectué où le candidat recueillant le plus de voix est élu président du CI.</p>
<h4 id="article-26">Article 26</h4>
<p>Le président du CI agit comme président de séance et désigne un secrétaire de séance.</p>
<h4 id="article-27">Article 27</h4>
<p>Le président du CI ou le président de l’association convoquent le CI sur un ordre du jour et la convocation fait figurer la date, l’heure et le lieu de la tenue du comité. La convocation doit être publiée au moins 48h avant la tenue du comité.</p>
<h4 id="article-28">Article 28</h4>
<p>Le CI délibère à la majorité des membres présents et à main levée.</p>
<h4 id="article-29">Article 29</h4>
<p>Un membre du CI souhaitant être nommé au CA comme membre invité informe le CI de sa demande qui vote alors à main levée pour la désignation à la majorité qualifiée de deux tiers.</p>
<h3 id="chapitre-5---des-postes">Chapitre 5 - Des Postes</h3>
<h4 id="article-30">Article 30</h4>
<p>Le CA peut déléguer la responsabilité de l’organisation d’une activité à une ou plusieurs personnes. Ils sont responsables devant le président et le CA de leur gestion.</p>
<p>Le CA peut déléguer certaines catégories de tâches nécessaires à la vie de l’association à une ou plusieurs personnes qui sont alors responsables devant le CA de ces tâches.</p>
<h4 id="article-31">Article 31</h4>
<p>Les délégations mentionnées à l’article 30 du présent règlement se font sous forme de nominations à des postes dont les titres sont fixés en CA. Ces nominations prennent fin à la fin du mandat du CA ou sur révocation par le CA.</p>
<h4 id="article-32">Article 32</h4>
<p>Les délégations à plusieurs personnes de tâches ou d’organisation d’activités se fait par la création de comités. Les comités ont un rapporteur qui présente l’activité du comité au CA lorsque cela est nécessaire.</p>
<h4 id="article-33">Article 33</h4>
<p>Le CA dispose par défaut des comités suivants :</p>
<ul>
<li>Comité des Communications entre les Etudiants et l’Administration : Ce comité est chargé de faciliter les communications entre les étudiants de l’IP Paris et le personnel des administrations des établissements-composantes de l’IP Paris, ainsi que l’administration de l’IP Paris. Il est également chargé de faire la transmission des informations nécessaires au bon déroulement de la vie scolaire et associative aux étudiants et à l’administration.</li>
<li>Comité des Relations Publiques : Ce comité est chargé du matériel de communication de l’association, de la gestion de l’image publique de l’association, de la communication intérieure et extérieure de l’association pour les informations relatives à la vie de l’association.</li>
<li>Comité de l’Organisation des Activités : Ce comité est chargé de l’organisation des évènements et des activités proposés par l’association. Il peut proposer des activités au CA avec un budget prévisionnel. Il avertit le CA des ajustements du budget au cours de l’organisation.</li>
<li>Comité des Relations avec les Entreprises : Ce comité est chargé d’établir et maintenir des liens avec les entreprises dans l’optique de mettre en relation les étudiants avec les entreprises, d’obtenir des dons ou de permettre l’obtention de biens ou services à prix préférentiels.</li>
<li>Comité des Relations avec les Clubs : Ce comité est chargé de l’administration des clubs mentionnés au titre II du présent règlement. Il est également chargé des relations avec les associations étudiantes affiliées aux établissements-composantes de l’IP Paris ou comportant en leur sein au moins deux tiers d’étudiants inscrits à l’IP Paris.</li>
</ul>
<p>Il peut en créer d’autres sans modifier le présent règlement, ou laisser vacants les comités créés par le présent règlement.</p>
<h4 id="article-34">Article 34</h4>
<p>Les comités peuvent être placés sous la responsabilité d’un membre du bureau qui dispose alors d’un droit de regard sur les activités des comités en question.</p>
<h3 id="chapitre-6---de-ladhésion">Chapitre 6 - De l’adhésion</h3>
<h4 id="article-35">Article 35</h4>
<p>La cotisation pour devenir membre adhérent à l’association est fixée à 50€ par an.</p>
<h4 id="article-36">Article 36</h4>
<p>Le trésorier est chargé de vérifier le versement des cotisations et d’en informer le secrétaire.</p>
<h4 id="article-37">Article 37</h4>
<p>Le montant des cotisations doit être versé en une fois.</p>
<p>La qualité de membre de l’association est acquise après versement de la cotisation.</p>
<p>En cas d’arrêt du paiement de la cotisation, le CA peut décider de la perte de qualité de membre.</p>
<h3 id="chapitre-7---du-budget">Chapitre 7 - Du budget</h3>
<h4 id="article-38">Article 38</h4>
<p>Le trésorier est chargé de rédiger la proposition de budget en collaboration avec le président et les éventuels vice-président et trésorier adjoint. Il soumet la proposition de budget à l’approbation du CA.</p>
<p>Ce budget fait état des postes de recettes et de dépenses attendues.</p>
<p>Le CA fait évoluer ce budget s’il est nécessaire de le faire. Les postes ne peuvent être ajustés au-delà des transactions déjà réalisées au titre de ceux-ci.</p>
<p>L’exercice comptable correspondant au budget est clos au 30 juin. Le renouvellement du CA et du bureau ne met pas fin à l’exercice comptable et le budget préalablement approuvé ainsi que ses modifications restent valides.</p>
<h4 id="article-39">Article 39</h4>
<p>Le président et le trésorier peuvent effectuer des dépenses dont le montant n’excède pas les 1000€.</p>
<p>L’éventuel vice-président et l’éventuel trésorier adjoint peuvent effectuer des dépenses dont le montant n’excède pas les 500€.</p>
<p>Les dépenses d’un montant inférieur à 2500€ peuvent être effectuées par le trésorier avec l’accord écrit du président.</p>
<p>Les dépenses d’un montant supérieur à 2500€ font l’objet d’une décision du CA. Le trésorier est chargé de réaliser la dépense au nom du CA.</p>
<p>Les dépenses réalisées doivent s’inscrire dans un poste de dépense préalablement approuvé dans le budget par le CA, et rester dans la limite des sommes permises par ce budget. Ne font exception à cette règle que les dépenses expressément ordonnées par le CA qui rectifie alors le budget.</p>
<h4 id="article-40">Article 40</h4>
<p>Lorsqu’une subvention est accordée par une tierce partie pour la réalisation d’un projet ou d’une activité spécifique, cette activité fait l’objet d’un poste de dépense séparé et d’une comptabilité spécifique.</p>
<h2 id="titre-ii---des-clubs">Titre II - Des clubs</h2>
<h3 id="chapitre-1---de-la-vie-des-clubs">Chapitre 1 - De la vie des clubs</h3>
<h4 id="article-41">Article 41</h4>
<p>Un club est constitué de membres de l’association se regroupant et s’organisant autour d’une activité commune correspondant aux buts du BDE d’IP Paris décrits dans ses statuts.</p>
<p>Un club est fondé avec un objectif par décision du Conseil d’Administration qui lui nomme un président et un trésorier devenant son bureau.</p>
<h4 id="article-42">Article 42</h4>
<p>Le Conseil d’Administration vote un budget pour les clubs sur demande de leurs présidents et de leurs trésoriers.</p>
<p>Le Conseil d’Administration est libre d’allouer le budget qu’il désire, même s’il est différent du budget demadé par le bureau du club.</p>
<p>Les budgets des clubs sont considérés comme des postes de dépenses du budget de l’association.</p>
<h4 id="article-43">Article 43</h4>
<p>Pour effectuer un achat sur le budget du club, son président ou son trésorier doit en faire la demande au président ou au trésorier de l’association qui effectuera l’achat conformément à l’article 39 du présent règlement, si le président ou le trésorier de l’association juge l’achat conforme aux objectifs du club.</p>
<p>Le trésorier de l’association peut également rembourser une personne ayant fait un achat pour le club sur présentation d’une facture au nom du BDE de l’IP Paris conformément à l’article 39 du présent règlement, s’il juge l’achat conforme aux objectifs du club.</p>
<h4 id="article-44">Article 44</h4>
<p>Les membres du bureau du club ne sont pas nécessairement membres ordinaires du Conseil d’Administration. Néanmoins, ils sont invités à assister au CA par le président de l’association lorsque l’ordre du jour contient un point lié au club, mais ils ne peuvent y voter ou prendre part aux délibérations auxquelles ils ne sont pas invités sans préjudice des droits de membre du Conseil d’Administration.</p>
<h4 id="article-45">Article 45</h4>
<p>Le président du club est chargé d’établir le bilan moral du club et doit le présenter devant le Conseil d’Administration après consultation et accord du président de l’association.</p>
<p>Lors de l’Assemblée Générale Ordinaire, le président de l’association invite les présidents de club à faire le bilan moral de leur club.</p>
<p>Le trésorier du club est chargé d’établir le bilan financier du club avec une comptabilité propre devant le conseil d’administration après consultation et accord du trésorier de l’association.</p>
<h4 id="article-46">Article 46</h4>
<p>Le Conseil d’Administration remplace les présidents et trésoriers de club sur simple décision.</p>
<p>Le Conseil d’Administration dissout le club sur simple décision.</p>
<h4 id="article-47">Article 47</h4>
<p>Le président du club doit présenter au conseil d’administration par le secrétaire du BDE de l’IP Paris un règlement de club qui, après approbation, devient une annexe de ce présent règlement s’appliquant uniquement aux membres du club.</p>
<p>Il est de la responsabilité du président du club de transmettre au secrétaire de l’association la liste des membres du club après avoir recueilli leur consentement à l’adhésion au club.</p>
<h2 id="titre-iii---du-règlement-intérieur">Titre III - Du règlement intérieur</h2>
<h3 id="chapitre-1---de-lapprobation-du-règlement-intérieur">Chapitre 1 - De l’approbation du règlement intérieur</h3>
<h4 id="article-48">Article 48</h4>
<p>Le règlement intérieur est approuvé annuellement par le premier conseil d’administration suivant l’élection d’un bureau.</p>
<h2 id="titre-iv---de-la-démission-de-la-radiation-et-des-procédures-disciplinaires">Titre IV - De la démission, de la radiation et des procédures disciplinaires</h2>
<h3 id="chapitre-1---de-la-démission">Chapitre 1 - De la démission</h3>
<h4 id="article-49">Article 49</h4>
<p>La démission de la qualité de membre est adressée au secrétaire de l’association par voie postale recommandée ou par remise en main propre d’une lettre de démission au secrétaire.</p>
<p>Elle peut être rétractée dans un délai de 7 jours à compter de la date de remise de la lettre ou de celle indiquée par le cachet de la poste. La rétractation est adressée au secrétaire dans les mêmes conditions que la lettre de démission.</p>
<p>Le membre en question conserve la qualité de membre jusqu’à l’expiration de son délai de rétractation ou jusqu’à sa perte par une autre voie, après quoi la qualité de membre est perdue jusqu’à une éventuelle réadhésion.</p>
<h4 id="article-50">Article 50</h4>
<p>La démission de la qualité de membre du CA est adressée au président de l’association par voie postale recommandée.</p>
<p>Elle peut être rétractée jusqu’à 24h avant la tenue du prochain CA.</p>
<p>Un CA suivant la démission de la qualité de membre du CA contient nécessairement dans son ordre du jour l’accusation de la réception de la démission. Le membre en question n’est pas convoqué pour ce CA mais reçoit une notification 48h avant la tenue du Conseil. Si une démission de membre du CA est envoyée entre une convocation d’un CA et sa tenue, elle n’est considérée qu’après la tenue de ce Conseil. Le secrétaire est chargé de transmettre cet accusé de réception au démissionnaire.</p>
<p>Le membre en question conserve la qualité de membre du CA jusqu’à l’accusation de réception de la démission par le Conseil d’Administration ou jusqu’à sa perte par une autre voie, après quoi la qualité de membre du CA est perdue. Le membre conserve néanmoins sa qualité de membre de l’association.</p>
<h3 id="article-51">Article 51</h3>
<p>La démission des fonctions du bureau de l’association en dehors de celle de président est adressée au président de l’association par voie postale recommandée. Le président met la démission à l’ordre du jour du Conseil d’Administration qui délibère alors sur les options suivantes : - L’acceptation immédiate de la démission. - Le refus de la démission, cette option n’étant possible que si le mandat des fonctions de bureau du démissionnaire expire dans moins d’un mois. - Une demande de reconsidération, un Conseil d’Administration sera alors convoqué dans les 15 jours suivant prise de cette option par le Conseil d’Administration. Lors de ce Conseil, le démissionnaire pourra confirmer ou rétracter sa démission, le Conseil d’Administration ne pouvant alors que l’accepter.</p>
<p>La perte des fonctions de bureau est immédiate lors de l’acceptation de la démission par le Conseil d’Administration. Il pourvoit alors au remplacement de ces fonctions.</p>
<p>Le démissionnaire conserve sa qualité de membre du CA.</p>
<h2 id="chapitre-2-la-radiation-pour-motif-grave">Chapitre 2 : La radiation pour motif grave</h2>
<h3 id="article-52">Article 52</h3>
<p>Les motifs graves pouvant être retenus pour la perte de qualité de membre sont : - La comission d’actes pénalement répréhensibles - L’utilisation des ressources de l’association pour des actes illégaux - Le manquement aux dispositions du présent règlement ou des statuts</p>
<h3 id="article-53">Article 53</h3>
<p>La radiation pour motif grave est portée à l’ordre du jour du CA, le membre en question étant alors convoqué également au Conseil d’Administration pour fournir ses explications.</p>
<p>Le CA, après avoir entendu les explications du membre en question, délibère en l’absence du membre avec une majorité qualifiée au deux tiers.</p>
<p>Le CA informe le membre de ses délibérations une fois sa décision prise sur le sujet.</p>
<p>Le CA peut décider de la radiation du membre ou de sa simple perte de la qualité de membre du CA s’il la possède, le Conseil délibérant alors d’abord sur la radiation, puis sur la perte de la qualité de membre du CA.</p>
<h3 id="article-54">Article 54</h3>
<p>La radiation prend effet dès la clôture du Conseil d’Administration l’ayant prononcée. La perte de la qualité de membre prend effet dès la clôture du Conseil d’Administration l’ayant prononcée.</p>
<h2 id="chapitre-3-les-autres-sanctions">Chapitre 3 : Les autres sanctions</h2>
<h3 id="article-55">Article 55</h3>
<p>Le Conseil d’Administration peut, en cas de motif grave, décider d’autres sanctions, dont l’exécution de travaux pour l’association. Le refus de ces sanctions est un motif grave considéré comme un manquement aux dispositions du présent règlement et pouvant donc être motif de radiation ou de la perte de la qualité de membre du CA.</p>

{% endblock %}
