{% extends 'base.html' %}

{% block content %}

<h1 id="rules-of-procedure-of-the-association-bureau-des-élèves-de-linstitut-polytechnique-de-paris">Rules of procedure of the association Bureau des Élèves de l’Institut Polytechnique de Paris</h1>
<p>Having regard to article 16 of the statutes of the association, enabling the board to lay down the rules of procedure and setting the provisions it may make. Having regard to articles 6, 10, 12, 13 and 14. The board shall adopt the rules of procedure with the following articles.</p>
<h2 id="title-i---on-the-operation-of-the-association">Title I - On the operation of the association</h2>
<h3 id="chapter-1---on-general-meetings">Chapter 1 - On general meetings</h3>
<h4 id="article-1">Article 1</h4>
<p>Summonings to general meetings shall feature: - the date, time, and place of the meeting; - the agenda of the meeting; - the list of the summoned members; - and any additional information required to join the meeting.</p>
<h4 id="article-2">Article 2</h4>
<p>Matters placed on the agenda in accordance with article 10, paragraph 3 of the statutes shall be forwarded to the secretary via a signed letter delivered either by hand or by registered mail.</p>
<p>The secretary shall forward the amended summonings with the new agenda 48 hours before the meeting.</p>
<h4 id="article-3">Article 3</h4>
<p>Votes in general meetings are done by a show of hands. The order of voting is: Against, Abstain, For.</p>
<h4 id="article-4">Article 4</h4>
<p>Should the president be absent, the vice-president acts as the president of the meeting. Should both of them be absent, a president of the meeting is appointed by the present board members.</p>
<h4 id="article-5">Article 5</h4>
<p>The meeting minute of the assembly is redacted by the secretary of the meeting.</p>
<p>Meeting minutes specify the motions that were voted on, the number of votes cast for each motion, the results of the votes and of the elections.</p>
<p>The secretary of the meeting is the secretary of the association, or the assistant secretary of the association if the former is absent. If neither of them is present, the president of the meeting appoints a secretary for the meeting.</p>
<h4 id="article-6">Article 6</h4>
<p>Prior to the general meeting with the renewal of the board members and executive members on the agenda, members applying to the election of the executives and the board must submit their applications in the form of ordered list of members to the secretary of the association at least seven days before the meeting.</p>
<p>This list, which has a minimum of five candidates and a maximum of twenty candidates, specifies the people applying for the executive roles, alongside their respective roles. These candidates must be at the top of the list. A list shall not only contain candidates for executive roles.</p>
<p>During the meeting renewing the board and the executive members, the members of the assembly vote for one (and only one) list among the applying lists. Blank votes are not taken into account.</p>
<p>Votes are cast by secret ballots. The board must specify in their summoning whether the votes should be cast in a physical ballot box or digitally.</p>
<p>After the election, the new composition of the executive and of the board is determined as follows. The executive members shall all be selected within the list having received the highest number of votes. This list also sets the total number of ordinary members of the new board. The appointing of the other ordinary members of the board goes according to the following proportionality rules. Let k be the number of seats left in the board after allocating the executive seats as explained. Let l_n be the list having received the n-th highest number of votes, and r_n the ratio between the number of votes received by l_n divided by the total number of votes. Each list l_n receives k*r_n seats in the board, rounded down and until the list l_n is depleted. If there still are fewer ordinary members than in the list l_1, the remaining seats are given to the list l_1.</p>
<h4 id="article-7">Article 7</h4>
<p>If there are no lists of candidates, the mandates of the board and executive members are prolonged by three months. At the end of a second such prolongation, if there still are no lists of candidates, the board shall summon an extraordinary general meeting for the dissolution of the association.</p>
<h4 id="article-8">Article 8</h4>
<p>If it is not possible to summon a face-to-face general meeting, the board shall specify the terms and conditions of general assembly meetings either online or in hybrid mode.</p>
<h4 id="article-9">Article 9</h4>
<p>Members who cannot be present at the meeting may appoint a representative. Any such member must inform the secretary with a signed letter delivered either by hand or registered mail. Upon calling the votes, the president, informed by the secretary, shall ask the representatives for the votes of the represented members orally.</p>
<h4 id="article-10">Article 10</h4>
<p>The summoning of the general meeting per request of a quarter of the members according to article 10, paragraph 2 of the statutes is done by the secretary upon reception of the request via a signed letter delivered either by hand or registered mail.</p>
<h3 id="chapter-2---on-the-board-of-directors">Chapter 2 - On the Board of Directors</h3>
<h4 id="article-11">Article 11</h4>
<p>The president summons the board at least 48 hours before the meeting with a summoning which clearly states the agenda.</p>
<h4 id="article-12">Article 12</h4>
<p>The summoning of a board meeting per request of a quarter of its members is done by one of the executive members upon receiving the request, signed by all the members requesting the meeting. The summoning request shall feature the agenda.</p>
<p>The executive member receiving the request shall summon the board within the following seven days. The board meeting must occur within the week following the summoning, but at least 48 hours after the summoning was submitted.</p>
<h4 id="article-13">Article 13</h4>
<p>Summonings to board meetings shall feature: - the date, time, and place of the meeting; - the agenda of the meeting; - the list of the expected members; - and any additional information required to join the meeting.</p>
<h4 id="article-14">Article 14</h4>
<p>The meeting minute of the assembly is redacted by the secretary of the meeting. Meeting minutes specify the motions that were voted on, the number of votes cast for each motion, the results of the votes and of the elections.</p>
<p>The minute of a given meeting is to be approved during the subsequent meeting. Meeting minutes are made available to members as soon as they are approved.</p>
<p>An attendance sheet is established at the opening of the session. The attendance sheet shall indicate the positions of the members who participate in the Board.</p>
<h4 id="article-15">Article 15</h4>
<p>The board votes by show of hands. The president put the motions to the vote of the board. Only mentions related to items mentioned in the agenda may be submitted to the board for approval.</p>
<h4 id="article-16">Article 16</h4>
<p>The president of the meeting is the president of the association, falling back to the vice-president should the president be absent. If neither the president nor the vice-president are present, the board appoints a president for the meeting.</p>
<p>The secretary of the meeting is the secretary of the association, falling back to the assistant secretary should the secretary be absent. If neither the secretary nor the assistant secretary are present, the board appoints a secretary for the meeting.</p>
<h4 id="article-17">Article 17</h4>
<p>When calling a vote, only ordinary board members shall be called upon to cast their votes. In the event of a tie, a new vote is called, where only invited members shall cast their votes.</p>
<h3 id="chapter-3---on-the-executive-members">Chapter 3 - On the executive members</h3>
<h4 id="article-18">Article 18</h4>
<p>The president of the association is the legal representative of the association. They have a right of inspection on all activites of the association. They ensure the smooth running of the institutions of the association. They are responsible for the execution of the decisions of the board. They ensure that all activities of the association are in accordance with the wishes of the board.</p>
<p>They represent the association and speak in its name when interacting with other entities, as long as they do not commit the association to a contractual obligation without any prior agreement from the board.</p>
<h4 id="article-19">Article 19</h4>
<p>The president of the association is mandated by the association for all administrative duties arising from the decisions of the board.</p>
<p>They may make decisions on all matters not involving the responsibility of the association towards any third party or towards the law.</p>
<p>When the board decides to commit the association to a third party, the president shall carry out the due procedures towards this end.</p>
<h4 id="article-20">Article 20</h4>
<p>The vice-president may replace the president in their powers and responsibilities upon notification by the president. The notification shall state the period during which the vice-president shall replace the president.</p>
<p>When not replacing the president, the vice-president may speak in the name of the association, without being able to make commitments on their behalf. The vice-president shall then let the president know of the contents of the discussions.</p>
<h4 id="article-21">Article 21</h4>
<p>The treasurer shall carry out the ongoing bookkeeping of the association with the possible collaboration of the assistant treasurer. They shall inform the board of the states of the association’s accounts when requested.</p>
<p>The assistant treasurer shall inform the treasurer of all accounting actions they take.</p>
<h4 id="article-22">Article 22</h4>
<p>When the board requests calculations, unless stated otherwise by the motion adopted by the board, the treasurer and the assistant treasurer are responsible for making them. They shall provide the board with one or several quotations, unless it is impossible or if the amounts do not exceed 500€.</p>
<h4 id="article-23">Article 23</h4>
<p>The secretary of the association, alongside the possible assistant secretary, is responsible for keeping the records of the association and for providing the association’s bodies and members with the association’s internal documents when necessary.</p>
<p>The secretary may be instructed by the board to produce amendments to these rules of procedure.</p>
<p>They are responsible for ensuring that the association’s operations comply with its statutes and internal regulations. When they consider an action to be contrary to the regulations and statutes, they shall inform the board, which then deliberates on the matter.</p>
<p>They are responsible, together with the treasurer, for keeping a list of the members of the associations and their positions.</p>
<h3 id="chapter-4---on-the-interational-committee">Chapter 4 - On the Interational Committee</h3>
<h4 id="article-24">Article 24</h4>
<p>The board shall decide with a single motion, one month before the end of the mandate of the IC, to publish an electoral calendar defining the date at which applications for the IC starts, the one at which it ends, and the date where the summonings to the election shall be published. Application period shall last at least one week.</p>
<p>The summoning to the election shall feature the applying lists, the date, time and place of the election, the members allowed to vote and any other necessary information necessary for the voting process.</p>
<p>The candidates shall apply as lists of at least three members to be submitted to the secretary during the application period.</p>
<p>The summoning is sent by the secretary or the assistant secretary to the members concerned at the date given by the electoral calendar.</p>
<p>The list with the highest number of votes is elected as the IC.</p>
<h4 id="article-25">Article 25</h4>
<p>The president of the association is responsible for summoning the IC during the month following its election for its first session, and one of the points of the agenda for this session shall be the election of the president of the IC.</p>
<p>During this session of the IC, after calling the applicants, if more than one candidate applies, a vote is held, and the candidates with the highest number of votes is elected as the president of the IC.</p>
<h4 id="article-26">Article 26</h4>
<p>The president of the IC acts as the president of meetings and appoints a secretary every meeting.</p>
<h4 id="article-27">Article 27</h4>
<p>The president of the IC or the president of the association shall summon the IC on an agenda and the summoning shall mention the date, time and place of the meeting. The summoning must be published at least 48 hours before the meeting.</p>
<h4 id="article-28">Article 28</h4>
<p>The IC deliberates on the basis of a majority of the members present and by a show of hands.</p>
<h4 id="article-29">Article 29</h4>
<p>An IC member wishing to be appointed to the Board as a guest member shall inform the IC of their request, which shall then vote by a show of hands for the appointment by a qualified two-thirds majority.</p>
<h3 id="chapitre-5---on-the-roles">Chapitre 5 - On the roles</h3>
<h4 id="article-30">Article 30</h4>
<p>The board may delegate the responsibility of the organisation of an activity to one or more people. They are accountable to the president and the board for their actions.</p>
<p>The board may delegate certain categories of tasks necessary for the life of the association to one or several people, who are therefore accountable to the board for these tasks.</p>
<h4 id="article-31">Article 31</h4>
<p>The delegations referred to in article 30 of these rules of procedure shall take the form of appointments to roles whose titles shall be determined by the board. These appointments end at the end of the board’s mandate or upon revocation by the board.</p>
<h4 id="article-32">Article 32</h4>
<p>Delegation of tasks or organisation of activities to several people is done through the creation of committees. The committees shall have an updater who presents the activites of the committee to the board when needed.</p>
<h4 id="article-33">Article 33</h4>
<p>The board has the following committees by default:</p>
<ul>
<li>Student-Administration Communications Committee: This committee is responsible for facilitating communications between the students of IP Paris and the staff of the administrations of the member schools of IP Paris, as well as the administration of IP Paris. It is also responsible for transmitting the information necessary for the smooth running of social and associative life to students and the administration.</li>
<li>Public Relations Committee: This committee is responsible for the association’s communications material, the management of the public image of the association, the association’s internal and external communication for information related to the life of the association.</li>
<li>Activity Organisation Committee: This committee is responsible for organising the events and activities proposed by the association. It can suggest activities to the board with a provisional budget. It informs the board of adjustments to the budget during the organisation.</li>
<li>Enterprise Relations Committee: This committee is responsible for establishing and maintaining links with companies with a goal of putting students in contact with companies, obtaining donations or enabling the obtaining of goods and services at preferential prices.</li>
<li>Club Relations Committee: This committee is responsible for managing the clubs mentioned in title II of these rules of procedure. It is also resposible for the relations with the student associations affiliated to the member schools of IP Paris or comprising at least two-thirds of the students of IP Paris.</li>
</ul>
<p>The board may create other committees without altering these rules of procedure, or leave vacant the committees created by these rules of procedure.</p>
<h4 id="article-34">Article 34</h4>
<p>The committees may be placed under the responsibility of an executive member, who then has a right of supervision over the activities of the committees in question.</p>
<h3 id="chapter-6---on-membership">Chapter 6 - On membership</h3>
<h4 id="article-35">Article 35</h4>
<p>The membership fee to become an adherent member of the association is set to 50€ a year.</p>
<h4 id="article-36">Article 36</h4>
<p>The treasurer shall be responsible for checking the payment of membership fees and informing the secretary.</p>
<h4 id="article-37">Article 37</h4>
<p>Membership fees shall be paid in a single instalment.</p>
<p>Membership of the association is acquired after payment of the membership fee.</p>
<p>In case of non-payment of the membership fee, the board may decide on the loss of membership.</p>
<h3 id="chapter-7---on-budget">Chapter 7 - On budget</h3>
<h4 id="article-38">Article 38</h4>
<p>The treasurer is accountable for drafting the budget proposal in collaboration with the president and, if applicable, the vice-president and the assistant treasurer. The budget proposal shall be submitted to the board for approval.</p>
<p>This budget shows the expected income and expenditure items.</p>
<p>The board makes changes to the budget if necessary. Items may not be adjusted beyond the transactions already made under them.</p>
<p>The accounting year corresponding to the budget shall end on June 30th. The renewal of the board and the executives does not put an end to the accounting period, and the previously approved budget and its modifications remain valid.</p>
<h4 id="article-39">Article 39</h4>
<p>The president and the treasurer may make expenditures not exceeding €1,000.</p>
<p>If they exist, the vice-president and the assistant treasurer may make expenditures not exceeding €500.</p>
<p>Expenditures of less than €2,500 may be made by the treasurer with the written agreement of the President.</p>
<p>Expenditures of more than €2,500 are subject to a decision of the board. The treasurer is responsible for making the expenditure in the name of the board.</p>
<h4 id="article-40">Article 40</h4>
<p>Whenever a grant is awarded by a third party for the implementation of a specific project or activity, this activity is subject to a separate expenditure item and specific accounting.</p>
<h2 id="title-ii---on-clubs">Title II - On clubs</h2>
<h3 id="chapter-1---on-the-running-of-clubs">Chapter 1 - On the running of clubs</h3>
<h4 id="article-41">Article 41</h4>
<p>A club is made up of members of the association grouping together and organising themselves around a common activity corresponding to the aims of the association described in its statutes.</p>
<p>A club is founded with objectives by decision of the board, who appoints a president and a treasurer to become its staff.</p>
<h4 id="article-42">Article 42</h4>
<p>The board votes on a budget for the clubs upon request by their presidents and treasurers.</p>
<p>The board is free to allocate any budget it wishes, even if it is different from that requested by the executives of the club.</p>
<p>Budgets of clubs are considered as expenditure items of the association’s budget.</p>
<h4 id="article-43">Article 43</h4>
<p>In order to make a purchase on the club’s budget, its president or its treasurer must make a request to the president or the treasurer of the association, who will make said purchase in accordance with article 39 of these rules of procedure, provided that the president or the treasurer deems the purchase to be in line with the objectives of the club.</p>
<p>The treasurer of the association may also reimburse a person who has made a purchase for the club upon presentation of an invoice in the name of the BDE IP Paris in accordance with article 39 of these rules of procedure, provided that the treasurer deems the purchase to be in line with the objectives of the club.</p>
<h4 id="article-44">Article 44</h4>
<p>The executive members of the club are not necessarily board members. However, they may be invited to a board meeting by the president of the associaton when the agenda contains an item related to the club, but they cannot participate in votes or discussions they are not invited to without prejudice to the rights of board members.</p>
<h4 id="article-45">Article 45</h4>
<p>The president of the club is responsible for drawing up the moral assessment of the club, and must present it to the board after consultation and agreement with the president of the association.</p>
<p>During the Ordinary General Assembly, the president of the association invites club presidents to present the moral assessment of their club.</p>
<p>The treasurer of the club is responsible for drawing up the financial statement of the club with its own accounting before the board after consultation and agreement of the treasurer of the association.</p>
<h4 id="article-46">Article 46</h4>
<p>The board replaces club presidents and treasurers by simple decision.</p>
<p>The board may dissolve the club by simple decision.</p>
<h4 id="article-47">Article 47</h4>
<p>The president of the club must present to the board through the secretary of the association rules of procedure, which, after approval, become an appendix of these rules of procedure which only applies to the members of the club.</p>
<p>The president of the club is responsible for forwarding to the secretary of the association the list of the members of the club after having obtained their consent to join the club.</p>
<h2 id="title-iii---on-the-rules-of-procedure">Title III - On the rules of procedure</h2>
<h3 id="chapter-1---on-the-approval-of-the-rules-of-procedure">Chapter 1 - On the approval of the rules of procedure</h3>
<h4 id="article-48">Article 48</h4>
<p>The rules of procedure shall be approved each year during the first board meeting following the election of the board.</p>
<h2 id="title-iv---on-resignation-expulsion-and-disciplinary-procedures">Title IV - On resignation, expulsion, and disciplinary procedures</h2>
<h3 id="chapter-1---on-resignation">Chapter 1 - On resignation</h3>
<h4 id="article-49">Article 49</h4>
<p>Resignation from membership shall be addressed to the secretary of the association by registered post, or by hand delivery of a letter of resignation to the secretary.</p>
<p>It may be withrawn within seven days from the date of delivery or from the date indicated by the postmark. Withdrawal shall be addressed to the secretary under the same conditions as resignation.</p>
<p>The member in question shall retain membership until the expiry of the period of withdrawal, or until it is lost by another means, after which membership shall be lost until a potential re-joining.</p>
<h4 id="article-50">Article 50</h4>
<p>Resignation from board membership shall be addressed to the president of the association via registered mail.</p>
<p>It may be withdrawn until 24 hours before the next board meeting.</p>
<p>The board meeting following the stepping down of a board member must contain in its agenda the accusation of the receipt of the resignation. The member in question is not summoned for this board meeting, but shall be notified 48 hours before the meeting takes place. If a resignation is submitted between the summoning to a board meeting and its holding, it will only be considered after the meeting. The secretary is responsible for transmitting this acknowledgement of receipt to the resigning member.</p>
<p>The member in question shall retain board membership until the board acknowledges the receipt of the resignation, or until it is lost by another means, after which board membership shall be lost. The member shall nevertheless retain their membership of the association.</p>
<h3 id="article-51">Article 51</h3>
<p>Resignation from an executive position of the board besides president shall be addressed to the president of the association via registered mail. The president places this resignation in the agenda of the board meeting following the resignation, which then deliberates on the following options: - the immediate acceptance of the resignation; - the refusal of the resignation, which is only an option if the mandate as an executive of the resigning member expires in less than a month; - a request for reconsideration, in which case another board meeting is summoned within the fifteen days following this decision of the board. During this board meeting, the resigning member may confirm or withdraw their resignation, and the board must accept the outcome of this decision.</p>
<p>The loss of an executive position applies immediately after the acceptance of the resignation by the board. It shall then proceed to the filling of the vacancy.</p>
<p>The resigning member retains their board membership.</p>
<h2 id="chapter-2---on-expulsion-for-serious-reasons">Chapter 2 - On expulsion for serious reasons</h2>
<h3 id="article-52">Article 52</h3>
<p>Serious reasons for loss of membership are: - perpretation of criminally reprehensible acts; - use of the association’s resources for illegal acts; - failure to comply with the provisions of these rules or the statutes.</p>
<h3 id="article-53">Article 53</h3>
<p>Expulsion for serious reasons is placed on the agenda of the upcoming board meeting. The member concerned is also summoned to this board meeting to provide explanations.</p>
<p>After having heard the explanations of the member in question, the board shall deliberate in the absence of the member with a qualified two-thirds majority.</p>
<p>The board shall inform the member of its deliberations once its decision on the matter has been taken.</p>
<p>The board may decide on the expulsion of the member or simply on the removal of their board membership if they possess it. The board shall first deliberate on the expulsion, then on the removal of the board membership.</p>
<h3 id="article-54">Article 54</h3>
<p>Expulsion shall take effect at the close of the board meeting that pronounced it. The loss of membership shall take effect at the close of the board meeting that pronounced it.</p>
<h2 id="chapter-3---on-the-other-sanctions">Chapter 3 - On the other sanctions</h2>
<h3 id="article-55">Article 55</h3>
<p>The board may, in case of serious reasons, decide on other sanctions, including the carrying out of work for the association. Refusal of these sanctions is a serious reason considered as a failure to comply with the provisions of these rules, and may therefore be grounds for expulsion or loss of board membership.</p>

{% endblock %}
