{% extends 'base.html' %}

{% block content %}

<h1 id="statutes-of-the-bureau-des-elèves-de-linstitut-polytechnique-de-paris">Statutes of the Bureau des Elèves de l’Institut Polytechnique de Paris</h1>
<h2 id="definitions">Definitions</h2>
<ul>
<li><em>IP Paris</em> : Institut Polytechnique de Paris, organisation founded by the decree n° 2019-549 du 31 mai 2019 “portant création de l’établissement public expérimental Institut polytechnique de Paris et approbation de ses statuts”.</li>
<li><em>Board</em> : Board of directors.</li>
<li><em>GA</em> : General Assembly.</li>
<li><em>The association</em> : Bureau des Elèves de l’Institut Polytechnique de Paris.</li>
<li><em>IC</em> : International comittee.</li>
<li><em>Internationals</em> : Person who does not have the French nationality or who spent their entire higher education outside of France.</li>
</ul>
<h2 id="article-1---name">Article 1 - Name</h2>
<p>Is founded between the adherents to the present statutes an association conforming to the law of July 1st 1901 and the decree of August 16th 1901, having the name “Bureau des Elèves de l’Institut Polytechnique de Paris”.</p>
<h2 id="article-2---goals">Article 2 - Goals</h2>
<p>The goals of the association are : - Representing the students of IP Paris - Helping and welcoming incoming students - Organising and promoting student life in IP Paris - Enabling students to have a sense of belonging to IP Paris</p>
<h2 id="article-3---head-office">Article 3 - Head office</h2>
<p>The head office is located 23 Rue Fustel de Coulanges, 91300 Massy. It can be transfered by a simple decision of the Board.</p>
<h2 id="article-4---lifespan">Article 4 - Lifespan</h2>
<p>The lifespan of the association is unlimited.</p>
<h2 id="article-5---composition">Article 5 - Composition</h2>
<p>The association is composed of student members.</p>
<h2 id="article-6---admission">Article 6 - Admission</h2>
<p>Any physical person registered as a student at the IP Paris can be a student member. A person paying the membership fee agreed upon in the rules of procedure and following the aforementioned requirements becomes a member student.</p>
<h2 id="article-7---revocation">Article 7 - Revocation</h2>
<p>The membership can be lost by : - Resignation. - Death. - Removal by the board following an unpaid membership fee or for serious misconduct, the interested party having been asked to answer for their misconduct before the executives and/or in writing.</p>
<h2 id="article-8---affiliation">Article 8 - Affiliation</h2>
<p>The association can become a member of other associations, unions or groups by a decision from the Board.</p>
<h2 id="article-9---resources">Article 9 - Resources</h2>
<p>The financial resources of the association are : - The membership fees. - Subsidies from the government, local administrations and other public organisations. - The sales of goodies, including, but not limited to : pen, mugs, clothes. - All resources allowed by the applicable laws and regulations.</p>
<h2 id="article-10---ordinary-general-assembly">Article 10 - Ordinary General Assembly</h2>
<p>The general assembly is composed of all members of the association in whatever capacity.</p>
<p>It is summoned at least once a year by the board or by a quarter of its members.</p>
<p>Fifteen days before the date of the assembly, the members of the association are summoned by the secretary. The agenda is mentioned in the summons. All members of the GA may add an item on the agenda until seven days before the GA.</p>
<p>The president, who can be helped by board members, presides the assembly and presents the situation or the activities of the association. The treasurer reports their management, and submits the annual accounts (balance sheet, financial results and appendix) to be approved by the assembly.</p>
<p>Only items mentioned on the agenda can be raised during the assembly.</p>
<p>Decisions are made according to the majority of votes of present and represented members.</p>
<p>After the agenda is depleted of all items, the election of the Board and of the executives is held.</p>
<p>The rules of procedure infers the terms of the elections and of the voting procedure.</p>
<h2 id="article-11---extraordinary-general-assembly">Article 11 - Extraordinary General Assembly</h2>
<p>If needed, or if half the members plus one asks, the board can summon an extraordinary GA abiding by the terms of the present statutes, only for the amendment of the statutes or to dissolve the association or for decisions involving immovable property. The procedure for the summoning are the same as the ordinary GA. All decisions are made by a qualified majority of two thirds of the present members.</p>
<h2 id="article-12---board-of-directors">Article 12 - Board of Directors</h2>
<p>The association is run by a board of directors elected for one year. Directors cannot be reelected.</p>
<p>The GA elects a minimum of 5 members and a maximum of 20 members to the board. These members are called ordinary members.</p>
<p>The IC appoints, after the elections of ordinary members to the board, members of which the number cannot exceed a fifth of the number of ordinary members, rounded up. These members are called invited members.</p>
<p>In the case of vacancies, the board appoints members to the vacant positions. The final replacement is made at the closest GA. The powers of the members appointed this way expire at the end of the mandates of the replaced members.</p>
<p>The board meets at least once every three months, on a summon by the president, or through the demand of a quarter of its members. The board can meet more often than specified.</p>
<p>The decisions are taken according to the majority of the votes of ordinary members. In case of a tie, the votes of invited members are taken into account. If a tie remains, the president has the last say.</p>
<p>A director who, without reason, did not attend three consecutive board meetings is considered to be resigning from their position.</p>
<p>The rules of procedure decribe the voting and summoning procedures of the board.</p>
<p>The board has the most extensive powers over the association.</p>
<h2 id="article-13---executives">Article 13 - Executives</h2>
<p>The GA elects the following executives: - A president and, if needed, a vice-president. - A secretary and, if needed, a vice-secretary. - A treasurer and, if needed, a vice-treasurer.</p>
<p>The executives are part of the ordinary members of the board elected by the GA.</p>
<p>The rules of procedure describe the roles and powers of the executives.</p>
<h2 id="article-14---the-international-comittee">Article 14 - The International comittee</h2>
<p>The association has a comittee of at least 3 international members looking after the interests of international students of the IP Paris.</p>
<p>The members of the IC are elected by the international members of the association for a mandate of one year and cannot be reelected.</p>
<p>The details and procedures of the elections are described in the rules of procedure.</p>
<p>The procedure of appointment by the IC of the invited members is laid out in the rules of procedure.</p>
<p>The IC elects a president according to a procedure detailed in the rules of procedure.</p>
<p>The IC meets at least once every three months on the summon of the president of the association or of the president of the IC.</p>
<h2 id="article-15---indemnification">Article 15 - Indemnification</h2>
<p>All positions, including that of the board members, executives and IC members are unpaid and voluntary. Only costs associated with their mandates can be paid back on proof of spending. The financial report presented to the GA lays out, by beneficiary, the amount paid back for mission costs, travel expenses, or representation costs.</p>
<h2 id="article-16---rules-of-procedure">Article 16 - Rules of procedure</h2>
<p>Rules of procedure are written by the board.</p>
<p>The GA may decide to amend the rules of procedure.</p>
<p>The rules of procedure are intended to add precisions on what wasn’t specified by the present statutes, especially those pertaining to the internal running of the association.</p>
<p>The rules of procedure define items delegated by the present statutes.</p>
<h2 id="article-17---dissolution">Article 17 - Dissolution</h2>
<p>In the event of a dissolution decided according to the dispositions of article 11, one or several liquidators are appointed and the net assets, if necessary, are donated to an association following similar goals, according to the decision of the extraordinary GA that voted the dissolution. The net assets cannot be allocated, even partially, to a member of the association.</p>
<h2 id="article-18---initial-members">Article 18 - Initial members</h2>
<p>The signatories of the present statutes or those appointed by them are put in the positions specified by the signatures or the appointment, regardless of the other articles, for the duration specified by those articles. The signatories can only appoint members for the 3 months following the signature of the statutes.</p>
<h2 id="article-19---work-languages">Article 19 - Work languages</h2>
<p>English and French are the work languages of the association. Meeting minutes, statutes, rules of procedure and all communication material intended for the members must be available in both languages.</p>

{% endblock %}