{% extends 'base.html' %}

{% block content %}

<h1 id="statuts-du-bureau-des-elèves-de-linstitut-polytechnique-de-paris">Statuts du Bureau des Elèves de l’Institut Polytechnique de Paris</h1>
<h2 id="définitions">Définitions</h2>
<ul>
<li><em>IP Paris</em> : Institut Polytechnique de Paris, établissement fondé par le décret n° 2019-549 du 31 mai 2019 portant création de l’établissement public expérimental Institut polytechnique de Paris et approbation de ses statuts.</li>
<li><em>CA</em> : Conseil d’Administration.</li>
<li><em>AG</em> : Assemblée Générale.</li>
<li><em>L’association</em> : Bureau des Elèves de l’Institut Polytechnique de Paris.</li>
<li><em>CI</em> : Comité International.</li>
<li><em>Internationaux</em> : Personne n’ayant pas la nationalité Française ou ayant passé l’intégralité de son enseignement supérieur hors de France.</li>
</ul>
<h2 id="article-1---nom">Article 1 - Nom</h2>
<p>Il est fondé entre les adhérents aux présents statuts une association régie par la loi du 1er juillet 1901 et le décret du 16 août 1901, ayant pour titre Bureau des Elèves de l’Institut Polytechnique de Paris.</p>
<h2 id="article-2---objet">Article 2 - Objet</h2>
<p>Cette association a pour objets : - La représentation des étudiants de l’IP Paris. - L’aide et l’accueil des nouveaux étudiants. - L’organisation et la promotion de la vie associative dans l’IP Paris. - Créer un sentiment d’appartenance à l’IP Paris chez les étudiants.</p>
<h2 id="article-3---siège-social">Article 3 - Siège social</h2>
<p>Le siège social est fixé au 23 Rue Fustel de Coulanges, 91300 Massy. Il pourra être transféré sur simple décision du CA.</p>
<h2 id="article-4---durée">Article 4 - Durée</h2>
<p>La durée de l’association est illimitée.</p>
<h2 id="article-5---composition">Article 5 - Composition</h2>
<p>L’association se compose de membres étudiants.</p>
<h2 id="article-6---admission">Article 6 - Admission</h2>
<p>Peut être membre étudiant toute personne physique inscrite comme étudiante dans l’IP Paris. Deviennent membres étudiants les personnes versant une cotisation fixée par le règlement intérieur et respectant les conditions citées au premier alinéa.</p>
<h2 id="article-7---radiations">Article 7 - Radiations</h2>
<p>La qualité de membre se perd par : - La démission. - Le décès. - La radiation prononcée par le conseil d’administration pour non-paiement de la cotisation ou pour motif grave, l’intéressé ayant été invité à fournir des explications devant le bureau et/ou par écrit.</p>
<h2 id="article-8---affiliation">Article 8 - Affiliation</h2>
<p>L’association peut adhérer à d’autres associations, unions ou regroupements par décision du conseil d’administration.</p>
<h2 id="article-9---ressources">Article 9 - Ressources</h2>
<p>Les ressources de l’association comprennent : - Le montant des droits d’entrée et des cotisations. - Les subventions de l’Etat, des départements, des communes, et d’autres établissements publics. - La vente d’objets de communication incluant mais non limités à : stylos, tasses, vêtements. - Toutes les ressources autorisées par les lois et règlements en vigueur.</p>
<h2 id="article-10---assemblée-générale-ordinaire">Article 10 - Assemblée Générale Ordinaire</h2>
<p>L’assemblée générale ordinaire comprend tous les membres de l’association à quelque titre qu’ils soient.</p>
<p>Elle se réunit au moins une fois par an sur convocation par le CA ou sur demande du quart de ses membres.</p>
<p>Quinze jours au moins avant la date fixée, les membres de l’association sont convoqués par les soins du secrétaire. L’ordre du jour figure sur les convocations. Tout membre de l’AG peut demander l’ajout d’un point à l’ordre du jour jusqu’à sept jours avant la tenue de l’assemblée.</p>
<p>Le président, assisté des membres du conseil, préside l’assemblée et expose la situation morale ou l’activité de l’association. Le trésorier rend compte de sa gestion et soumet les comptes annuels (bilan, compte de résultat et annexe) à l’approbation de l’assemblée.</p>
<p>Ne peuvent être abordés que les points inscrits à l’ordre du jour.</p>
<p>Les décisions sont prises à la majorité des voix des membres présents ou représentés.</p>
<p>Il est procédé, après épuisement de l’ordre du jour, au renouvellement des membres ordinaires du CA et du bureau.</p>
<p>Le règlement intérieur fixe les modalités de suffrage et d’élection.</p>
<h2 id="article-11---assemblée-générale-extraordinaire">Article 11 - Assemblée Générale Extraordinaire</h2>
<p>Si besoin est, ou sur la demande de la moitié plus un des membres, le CA peut convoquer une assemblée générale extraordinaire, suivant les modalités prévues par les présents statuts, et uniquement pour modification des statuts, la dissolution ou pour des actes portant sur des immeubles. Les modalités de convocation sont les mêmes que pour l’assemblée générale ordinaire. Les délibérations sont prises à la majorité qualifiée aux deux tiers des membres présents.</p>
<h2 id="article-12---conseil-dadministration">Article 12 - Conseil D’Administration</h2>
<p>L’association est dirigée par un conseil de membres élus pour une durée d’un an. Les membres ne sont pas rééligibles.</p>
<p>L’AG élit un minimum de 5 membres et un maximum de 20 membres au CA. Ces membres sont appelés membres ordinaires.</p>
<p>Sont désignées par le CI, après l’élection des membres ordinaires du CA, des membres dont le nombre ne peux dépasser un cinquième du nombre de membres ordinaires, arrondi à l’unité supérieure. Ces membres sont appelés membres invités.</p>
<p>En cas de vacances, le conseil pourvoit provisoirement au remplacement de ses membres. Il est procédé à leur remplacement définitif par la plus prochaine assemblée générale. Les pouvoirs des membres ainsi élus prennent fin à l’expiration du mandat des membres remplacés.</p>
<p>Le conseil d’administration se réunit au moins une fois tous les trois mois, sur convocation du président, ou à la demande du quart de ses membres. Les réunions du conseil peuvent être plus fréquentes.</p>
<p>Les décisions sont prises à la majorité des voix des membres ordinaires ; en cas de partage, sont comptées les voix des membres invités; s’il y a toujours partage, la voix du président est prépondérante.</p>
<p>Tout membre du conseil qui, sans excuse, n’aura pas assisté à trois réunions consécutives sera considéré comme démissionnaire.</p>
<p>Le règlement intérieur précise les modalités de réunion et de suffrage du CA.</p>
<p>Le CA dispose des pouvoir les plus étendus sur l’association.</p>
<h2 id="article-13---le-bureau">Article 13 - Le Bureau</h2>
<p>L’AG élit un bureau composé de : - Un-e- président-e- et, s’il y a lieu, un-e- vice-président-e-s. - Un-e- secrétaire et, s’il y a lieu, un-e- secrétaire adjoint-e-. - Un-e- trésorier-e-, et, si besoin est, un-e- trésorier-e- adjoint-e-.</p>
<p>Le bureau fait partie des membres ordinaires du CA élus par l’AG.</p>
<p>Le règlement intérieur fixe les rôles et prérogatives du bureau.</p>
<h2 id="article-14---le-comité-intérnational">Article 14 - Le Comité Intérnational</h2>
<p>L’association dispose d’un comité d’au moins 3 membres internationaux veillant à l’intéret des étudiants internationaux de l’IP Paris.</p>
<p>Les membres du CI sont élus par les membres étudiants internationaux de l’association pour une durée de un an et ne sont pas rééligibles.</p>
<p>Les modalités de l’élection sont fixées par le règlement intérieur.</p>
<p>Les modalités de désignation par le CI des membres invités sont fixées par le règlement intérieur.</p>
<p>Le CI élit un président selon des modalités fixées par le règlement intérieur.</p>
<p>Le CI se réunit au moins une fois tous les 3 mois sur convocation par le président de l’association ou par le président du CI.</p>
<h2 id="article-15---indemnités">Article 15 - Indemnités</h2>
<p>Toutes les fonctions, y compris celles des membres du CA, du bureau et du CI, sont gratuites et bénévoles. Seuls les frais occasionnés par l’accomplissement de leur mandat sont remboursés sur justificatifs. Le rapport financier présenté à l’assemblée générale ordinaire présente, par bénéficiaire, les remboursements de frais de mission, de déplacement ou de représentation.</p>
<h2 id="article-16---règlement-intérieur">Article 16 - Règlement Intérieur</h2>
<p>Un règlement intérieur est établi par le CA.</p>
<p>L’AG peut décider de modifier le règlement intérieur.</p>
<p>Ce règlement est destiné à fixer les divers points non prévus par les présents statuts, notamment ceux qui ont trait à l’administration interne de l’association.</p>
<p>Ce règlement fixe les points que les présents statuts lui délèguent.</p>
<h2 id="article-17---dissolution">Article 17 - Dissolution</h2>
<p>En cas de dissolution prononcée selon les modalités prévues à l’article 11, un ou plusieurs liquidateurs sont nommés, et l’actif net, s’il y a lieu, est dévolu à une association ayant des buts similaires conformément aux décisions de l’AG extraordinaire qui statue sur la dissolution. L’actif net ne peut être dévolu à un membre de l’association, même partiellement.</p>
<h2 id="article-18---membres-initiaux">Article 18 - Membres initiaux</h2>
<p>Les signataires des présents statuts ou ceux désignés par ceux-ci sont établis aux fonctions précisées par les signatures ou par la désignation en dépit des dispositions des autres articles pour les durées précisées par ces articles. Les signataires des présents statuts ne peuvent désigner de membres que pendant un délai de 3 mois à compter de la signature des statuts.</p>
<h2 id="article-19---langues-de-travail">Article 19 - Langues de travail</h2>
<p>Les langues de travail de l’association sont l’Anglais et le Français. Les comptes-rendus, les statuts, le règlement intérieur, et tous les documents de communication aux membres devront être disponibles aux membres dans les deux langues.</p>
<p>Fait à Massy, le 19 semptembre 2021.</p>

{% endblock %}
